body {
  margin: 0;
  padding: 0;
  background-color: #000000 !important;
  color: white;
}

.movie-card {
  position: relative;
  display: block;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
}

.movie-card:hover {
  transform: translateY(-4px);
}

.movie-card img {
  width: 100%;
  height: auto;
  min-height: 150px;
  object-fit: cover;
  display: block;
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 12px 10px;
  padding-top: 40px;

  background: linear-gradient(
  to top,
  rgba(0, 0, 0, 1),
  rgba(0, 0, 0, 0.85),
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0)
  );
}

.movie-title {
  color: #ffffff;
  text-shadow: 0 2px 8px rgba(0,0,0,0.8);
  font-size: 0.8rem;
}

footer a {
  transition: 0.3s;
}

footer a:hover {
  color: #ffc107 !important;
}